    <footer class="footer">
      <div class="social-media-container">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-github-square"></i>
        <i class="fab fa-linkedin"></i>
      </div>
      <div class="footer-text">
        <p>Copyright Angelo Otero 2019</p>
        <a href="#"><p>Special Thanks</p></a>
      </div>

    </footer>

  </body>

</html>
