<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Angelo Otero | Web Developer Portfolio</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/CSS/styles.css">
</head>

<body>


  <nav class="navbar navbar-expand-lg fixed-top">




        <span class="navbar-brand">
          <img src="Images/Angelo-Otero-Logo.png" class="logo" alt="">
        </span>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarMenu">

        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <p class="nav-link" id="home-btn">Home</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" id="about-me-btn">About Me</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" id="my-work-btn">My Work</p>
          </li>
          <li class="nav-item">
            <p class="nav-link" id="contact-me-btn">Contact Me</p>
          </li>
        </ul>

      </div>



  </nav>
