<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Angelo Otero | Web Developer Portfolio</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Montserrat:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>


  <nav class="navbar navbar-expand-lg fixed-top">



    <span class="navbar-brand">
      <img src="Images/Angelo-Otero-Logo.png" class="logo" alt="">
    </span>



  </nav>

  <section class="contact">
    <img src="images/ui.svg" alt="email sent illustration">
    <div>Icons made by <a href="https://www.flaticon.com/authors/phatplus" title="phatplus">phatplus</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <h1>Thanks for contacting me!</h1>
    <h3>Please wait up to one business day for a reply.</h3>
      <a href="/">Go Back to Main Page</a>
  </section>

  <%- include('partials/footer'); -%>
