/* general styles */
body {
  background-color: #ebf0f6;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}


/* Typography */
h1, h2 {
  font-family: 'Abril Fatface', cursive;
  color: #98ccd3;
}

p, li {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 3.375em;
  line-height: 1.2em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  line-height: 1.25em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.2em;
}

.section-headers {
  margin-bottom: 60px;
}

label {
  margin-bottom: 12px;
}


/* links */
a {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #ebf0f6;
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #98ccd3;
  text-decoration: none;
}

a:active{
  color: #132238;
}


/* buttons */
.btn {
  background-color: transparent;
  color: #ebf0f6;
  border: 2px solid #ebf0f6;
  margin: 15px auto;
  text-decoration: none;
}

.btn:hover {
  background-color: #98ccd3;
  color: #132238;
  border: 2px solid #98ccd3;
}

.btn:active {
  background-color: #132238;
  color: #ebf0f6;
  border: 2px solid #132238;
}


/* images */
img {
  border-radius: 15px;
}

/* navigation bar */
.navbar {
  background-color: #132238;
  padding: 8px 24px;
}

.fa-bars {
  color: #ebf0f6;
  font-size: 30px;
  transition: all 1s;
}

.rotated {
  transform: rotate(90deg);
}

.navbar img {
  border-radius: 0;
  height: 30px;
  width: 30px;
}

.nav-item {
  text-align: center;
}

.nav-item a:hover{
  font-size: 1em;
  color: #ebf0f6;
}

.nav-link {
  color: #ebf0f6;
  text-decoration: underline;
  margin: 0;
  transition: all .5s;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: none;
  color: #98ccd3;
}

.logo:hover {
  cursor: pointer;
}



/* header */
.jumbotron {
  margin-top: 55px;
  margin-bottom: 0;
  background-image: url("../Images/Header-Image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-landing {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.hero-container {
  text-align: center;
}

.hero-container h1 {
  font-size: 7.6em;
  line-height: 1.2em;
  color: #ebf0f6;
}

.hero-container h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3.375em;
  color: #ebf0f6;
}

.header-chevron {
  margin: 0 auto;
  position: relative;
  top: 150px;
}

#chevron-btn{
  font-size: 3.375em;
  color: #ebf0f6;
}


/* About Me */
.about-me {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 60px 0;
  background-color: #364e68;
  color: #ebf0f6;
}

.my-photo {
  height: 400px;
  width: 400px;
}

.my-bio-container {
  margin-left: 30px;
  width: 45%;
  text-align: left;
}


/* My Skills */
.my-skills-container {
  background-color: #ebf0f6;
}

.my-skills {
  background-color: #132238;
  color: #ebf0f6;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 100px 5%;
  position: relative;
  z-index: 2;
}

.skill-category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-content: center;
}

.skill-category {
  margin-bottom: 20px;
}

.skill-category .fas {
  font-size: 65px;
  margin-bottom: 15px;
  color: #98ccd3;
}

.skill-category ul {
  padding: 0;
}

.skill-category li {
  list-style-type: none;
}


/* My Work */
.my-work {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0;
  background-color: #364e68;
  color: #ebf0f6;
}

.my-works {
  width: 65%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.my-work img {
  height: 300px;
  width: 400px;
}

.my-work .fab {
  font-size: 50px;
}

.my-work-container a:before {
content: "";
position: absolute;
width: 100%;
height: 5px;
bottom: 0;
left: 0;
background-color: #98ccd3;
visibility: hidden;
transform: scaleX(0);
transition: all 0.3s ease-in-out 0s;
}

.my-work-container a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.my-work-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.my-work-description {
  width: 75%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my-second-work .my-work-description {
  padding-left: 0;
  padding-right: 20px;
}


/* Contact Me */
.contact-me-container {
  background-color: #ebf0f6;
  width: 100%;
}

.contact-me {
  background-color: #132238;
  color: #ebf0f6;
  width: 65%;
  margin: 0 auto;
  padding: 100px 10%;
  text-align: center;
}

.nameInputs {
  justify-content: space-between;
}

.nameInputs input {
  width: 100%;
  margin: 0;
}

.surveyInput {
  justify-content: flex-end;
}

#inputSurvey {
  margin-left: 15px;
}


/* Contact Page */
.contact {
  margin: 56px 0 70px;
  height: 75vh;
}

.contact a {
  color: #98ccd3;
  text-decoration: underline;
}

.contact a:hover {
  color: #132238;
  text-decoration: none;
}



/* Footer */
.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  background-color: #364e68;
  color: #ebf0f6;
  padding-bottom: 5px;
  position: relative;
  z-index: 4;
}

.social-media-container {
  font-size: 25px;
  margin: 15px 0;
}

.footer .fab {
  margin: 0 5px;
}

.footer-text p, .web-dev-blog{
  margin-bottom: 15px;
  margin-top: 0;
  font-size: .667em;
}


/* jQuery Classes */
.test {
  display: none;
}

.card {
  background-color: #132238;
}



/* Responsiveness */

/* Small laptops and tablets */
 @media only screen and (max-width: 1387px) {
  .about-me,
  .my-skills,
  .my-work,
  .contact-me,
  .footer {
    position: static;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

   .about-me,
  .my-work {
    padding: 60px 0;
    z-index: auto;
  }

  .my-skills-container {
    height: auto;
  }

  .contact-me-container {
    height: auto;
  }

  .footer {
    padding: 5px 0;
  }

}

@media only screen and (max-width: 1240px) {
  .my-work-container {
    flex-direction: column;
    text-align: center;
  }

  .my-works {
    width: 85%;
  }

  .my-work-container img{
    margin: 0 auto 25px;
  }

  .my-work-description {
    padding-bottom: 15px;
    margin: 0 auto;
  }

  .tech-icons-container {
    margin: 0 auto;
  }

}

@media only screen and (max-width:900px) {
  .hero-landing {
    height: 40vh;
  }

  .fa-chevron-down {
    display: none;
  }

  .hero-container h1 {
    font-size: 5.063em;
  }

  .hero-container h2 {
    font-size: 2.25em;
  }

  .about-me {
    flex-direction: column;
  }

  .my-photo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .my-bio-container {
    margin: 0 auto;
    text-align: center;
  }

   .my-skills, .contact-me, .my-bio-container, .my-work-description {
    width: 85%;
  }
}

@media only screen and (max-width:834px) {
  .my-skills, .contact-me, .my-work-description {
    width: 100%;
  }
}

@media only screen and (max-width:620px) {
  .hero-landing {
    height: 300px;
  }
  .hero-container {
    width: 85%;
    margin: 0 auto;
  }

  .about-me, .my-skills, .contact-me, .my-work-description {
    padding: 30px;
  }

  .my-works {
    width: 100%;
    margin: 0;
  }

  .my-work-container {
    background-color: #132238;

  }

  .my-work img{
    width: 100%;
    height: 400px;
    border-radius: 0;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: left;
  }

  .my-work-description, .my-second-work .my-work-description {
    text-align: left;
    padding: 15px;
  }

  .tech-icons-container {
    margin: 0;
  }

}

/* phones */
 @media only screen and (max-width:415px) {
  body {
    font-size: 12px;
  }
  p, a, li, .footer-text {
    font-size: 1.25em;
  }
}
